@import "_fonts";
@import "blobz";

@tailwind base;
@tailwind components;
@tailwind utilities;

.type-xl {
    @apply text-balance text-4xl font-bold !leading-[0.95] lg:text-5xl xl:text-6xl !tracking-normal;
}

.type-subtitle {
    @apply text-xl font-semibold;
}

.bold-text-light-teal strong {
    @apply text-light-teal;
    font-weight: inherit !important;
}

.shadow-button {
    /* @apply shadow-black; */
    @apply transition;
    box-shadow: 0.375rem 0.375rem 0 var(--tw-shadow-color);
}

.underline-bold strong {
    position: relative;
    z-index: 1;
}

.underline-bold strong::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0em;
    left: 0;
    right: 0;
    height: 0.35em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTMuNzIiIGhlaWdodD0iOS43MiIgZGF0YS1uYW1lPSJMYXllciAxIiB2aWV3Qm94PSIwIDAgMTEzLjcyIDkuNzIiPgogICAgPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIzLjg0IiBkPSJNMS45MiA2Ljg2YzUxLTE0IDY3LjI0IDcuMTUgMTA5Ljg5LTEiLz4KPC9zdmc+Cg==");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
}

.shadow-button:hover {
    box-shadow: 0.25rem 0.25rem 0 var(--tw-shadow-color);
}

.shadow-button:active {
    box-shadow: 0.125rem 0.125rem 0 var(--tw-shadow-color);
}

.prose iframe[src*="youtube.com"] {
    @apply my-8 w-full h-auto aspect-video;
}

.text-balance {
    text-wrap: balance;
}

@layer components {
    .container-lg {
        @apply container xl:max-w-7xl 2xl:max-w-8xl;
    }
}
